.transition-container {
  height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
  overflow: hidden; /* Hide overflow for sliding effect */
}

.welcome-text {
  font-size: 25px;
  position: absolute;
  transition: transform 0.9s ease-in-out, opacity 0.9s ease-in-out;
  opacity: 1;
}

.move-up {
  transform: translateY(-200px); /* Adjust this value as needed */
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  opacity: 0;
  animation: fadeIn 0.6s forwards; 
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
