.businessName-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.first-text, .second-text {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, font-size 1s ease-in-out;
  font-size: 61px;
  margin: 10px 0;
  position: absolute;
}

.first-text.slide-up {
  opacity: 1;
  transform: translateY(-100px);
}

.first-text.slide-up-more {
  font-size: 48px;
  transform: translateY(-270px);
}

.second-text {
  margin-top: 25px;
  font-size: 61px;
}

.second-text.slide-up-normal {
  opacity: 1;
  transform: translateY(-150px);
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px; 
}

.name-input {
  padding: 15px;
  font-size: 38px;
  margin-top: 150px;
  height: 90px;
  text-align: center;
  border-radius: 10px;
}

.looks-good-button {
  margin-top: 70px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  width: 260px;
  height: 75px;
  font-size: 26px;
  font-weight: bold;
}

.error-message{
  margin-top: 20px;
  color: red;
  font-size: 28px;
}