.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

p {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 8px;
  max-width: 1250px;
  color: white;
  font-size: 30px;
}

.learn-more-button {
  background: none;
  border: none;
  color: rgb(123, 123, 247);
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 16px;
}

.more-text {
  text-align: center;
  margin-bottom: 8px;
}

.input {
  width: 130%;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 30px;/* Placeholder text color */
}

.input::placeholder {
  color: grey;
}

.button {
  width: 240px;
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #f0f0f0;
}

.main-text {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  max-width: 1000px;
}

.error-message {
  color: rgb(204, 9, 9);
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

