.footer {
    background-color: #5b3586c2;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    height: 156px;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.footer-left {
    flex: 1;
    height: 100%; /* Ensures the image fills the height of the footer */
}

.footer-image {
    height: 210px;
}

.footer-middle {
    flex: 8;
    text-align: center;
    align-items: center;
}


.footer-right {
    flex: 1;
    display: flex;
    flex-direction: column; /* Arranges buttons vertically */
    align-items: flex-end; /* Aligns buttons to the right */
}

.footer-text {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    padding-right: 0;
}

.footer-icon {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
    width: 90px;
}

.footer-icon img {
    width: 45px; /* Reduced width for smaller button size */
    height: auto;
}

.footer-icon.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}


.footer-icon:hover:not(.disabled),
.footer-icon:focus:not(.disabled) {
    outline: none; /* Removes focus outline */
}

.arrow-image:hover,
.arrow-image:focus {
    opacity: 0.5; /* Dim the opacity on hover/focus */
}

.blink {
    animation: blink-animation 1.5s steps(3, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
