.greetingsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.text {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    font-size: 61px;
    font-weight: 600;
    margin: 10px 0;
    position: absolute;
}

.text.second {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    font-size: 48px;
    font-weight: bold;
}

.text.show {
    opacity: 1;
    transform: translateY(-200px);
}

.text.second.show {
    transform: translateY(-50px);
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 200px;
}

.choose-button {
    font-size: 27px;
    font-weight: bold;
}