.header {
    background-color: #744c9b;
    color: white; 
    height: 9vh; 
    /* width: 10vw; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.header-title {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
}
