.IntendedPricing-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    overflow-y: auto;
    min-height: 71vh;
    max-height: 71vh;
}

.IntendedPricing-container::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

.IntendedPricing-container::-webkit-scrollbar-thumb {
    background-color: #744c9b;
    /* Color of the scrollbar thumb */
    border-radius: 3px;
    /* Rounded edges for the scrollbar thumb */
}

.IntendedPricing-container::-webkit-scrollbar-track {
    background: transparent;
    /* Transparent track */
}


.IntendedPricing-container h1 {
    margin-top: 10px;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.IntendedPricing-container p {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    width: 492.258px;
    text-align: left;
}

.IntendedPricing-container td {
    vertical-align: bottom;
}

.IntendedPricing-container td:nth-child(3) {
    width: 300px;
    /* Width for size in words column */
}


.SubmitBTNIntendedPricing {
    margin-top: 2rem;
}

.SAM-Icon {
    width: 36px;
    height: 36px;
}

.SOM-Icon {
    width: 36px;
    height: 36px;

}

.OpEx-Icon {
    width: 36px;
    height: 36px;
}

.CapEx-Icon {
    width: 36px;
    height: 35px;
    aspect-ratio: 36/35;
}

.EBTWC-Icon {
    width: 36px;
    height: 30px;
    aspect-ratio: 23/18;
}

.Sales-Icon {
    width: 36px;
    height: 36px;
}