.tam-calc-table {
  width: 60%; /* Increase width for better visibility */
  margin: 25px auto;
  text-align: center; /* Center the Add Customer Segment button */
  position: relative; /* Ensure absolute positioning of the button */
}

table {
  border-collapse: collapse;
  width: 100%; /* Full width of the container */
  overflow-x: auto; /* Enable horizontal scrolling */
}

th, td {
  padding: 4px 8px; /* Reduce padding */
  text-align: left; /* Align text to the left */
}

th {
  background-color: #4CAF50; /* Green header background */
  color: white;
  text-align: center;
  font-size: 18px; /* Adjust font size */
}

td {
  vertical-align: middle; /* Center content vertically */
}

input[type="text"], input[type="number"] {
  width: calc(100% - 50px); /* Adjust width to fit within cell */
  padding: 8px; /* Adjust padding */
  box-sizing: border-box;
}

input[type="number"] {
  text-align: right; /* Align text to the right */
}

.delete-button {
  color: white;
  background-color: red; /* Background color */
  border: none;
  padding: 5px;
  cursor: pointer;
  width: 30px; /* Button width */
  height: 30px; /* Button height */
  font-size: 18px; /* Font size */
}

.delete-button:hover {
  background-color: darkred;
}

.add-button {
  display: block;
  margin: 20px auto; /* Center the button */
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  max-width: 500px; /* Adjust max width */
  font-weight: bold;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
}

.add-button:hover {
  background-color: #45a049;
}

.table-container {
  max-height: 400px; /* Adjust height for scroll */
  overflow-y: auto; /* Enable vertical scrolling */
}
