.sam-icon {
  display: flex;
  width: 2.8vw; 
  margin-left: 2vw;
}

.csp-container {
  text-align: center;
  margin-left: 18vw;
  margin-top: 10vh;
  height: 32vh;
}

.first-txt,
.second-txt,
.third-txt,
.fourth-txt {
  font-size: 1.9vw;
  color: white; /* White text color */
  transition: opacity 1s ease-in-out, transform 1s;
  opacity: 1;
  width: 78%;
}

.first-txt.slide-up-out {
  transition: opacity 1s ease-in-out, transform 3.5s;
  transform: translateY(-80vh);
  opacity: 0;
}

.second-txt {
  margin-top: 3vh;
  font-size: 2.5vw;
  transition: opacity 2s, transform 2s;
}

.second-txt.slide-up {
  transform: translateY(-23vw);
  opacity: 1;
}

.third-txt.slide-up {
  transform: translateY(-21.5vw);
  opacity: 1;
}

.fourth-txt.slide-up {
  transform: translateY(-19vw);
  opacity: 1;
}

.third-txt,
.fourth-txt {
  font-size: 1.7vw;
  opacity: 0;
  transition: opacity 2s;
  margin-top: 2vh;
}

.third-txt.fade-in,
.fourth-txt.fade-in {
  opacity: 1;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.btn-section {
  text-align: center;
  margin: 0 1vw;
}

.yes-btn,
.no-btn {
  font-size: 1.9vw;
  padding: 1vw 2vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.btn-description {
  font-size: 1.3vw;
  color: white;
  margin-top: 1.1vh;
}