.begin-bg-cover {
  /* background: url(./assets/img/begin.svg) cover no-repeat; */
  width: 100vw;
  height: 100vh; /* This ensures the SVG covers the full height of the viewport */
  background-image: url('./assets/img/begin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.btns {
  font-size: 1.5vw;
  font-weight: bold;
}

button {
  width: 10vw;
  height: 3.5vw;
  color: purple;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}

button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.full-screen{
  width: 100vw;
  height: 100vh;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-2{
  display: flex;
  justify-content: space-between;
}

.avatar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25vmin;
  margin-left: 5vmin;
}