@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: url('./assets/img/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

button {
  margin: 0 10px;
  border-radius: 16px;
  background-color: #ffffff;
  color: #12005A;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 4vmin;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-variant: small-caps;
  font-style: normal;
  line-height: normal;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* input {
  border-radius: 10px;
  border: 5px solid var(--Icon-Green, #31AE0E);
  background: #FFF;
  color: #7e7c7c;
  width: 50vw;

  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}